
body{
	margin: 0px;
	padding: 0px;
}
a{
	color: red;
	text-decoration: none;
}
.header{
	height: 100px;
	width: 100%;
	background-color: black;
	position: fixed;
	
}
.logo{
	width: 100%;
	line-height: 80px;
	text-align: left;
	font-size: 30px;
	color: white;
	/*background-color: orange;*/
	/*float: left;*/
}
.menu{
	width: 100%;
	line-height: 50px;
	background-color: red;
	color: white;

}
 ul{ 
	list-style: none;
	text-align: right;
	/*direction: rtl;*/

}
li{
	/*display: inline;*/
	/*display: block;*/
	display: inline-block;
	/*display: none;*/
	/*border: 1px solid black*/
	padding: 0 10px;
}

section{
	padding: 250px;
	height: 100px;
	width: 100%;

}

footer{
	clear: both;
	background: black;
	text-align: left;
	height:200px;
	width: 100%;
	bottom: 1;
}
.carlogo{
	display: block;
	float:center;
	width: 100%;
	padding:20px;
}
img{
	text-align: :center;
	width:200px;
	height:120px; 
	border-radius: 10px;

}